#main-menu #mobile-nav-menu {
  margin-bottom: 0; }
  #main-menu #mobile-nav-menu .panel:last-child {
    border: 0 !important; }
  #main-menu #mobile-nav-menu .panel-heading a {
    display: block; }
    #main-menu #mobile-nav-menu .panel-heading a span {
      margin-top: 3px;
      color: rgba(0, 0, 0, 0.71);
      font-size: .8em; }
  #main-menu #mobile-nav-menu a {
    color: #000; }
  #main-menu #mobile-nav-menu ul {
    padding: 0; }
    #main-menu #mobile-nav-menu ul li {
      list-style: none;
      padding: 5px 10px;
      font-size: .9em; }
      #main-menu #mobile-nav-menu ul li .submenu-head {
        font-size: 1em;
        color: #2196f3; }

#main-menu .nav-menu {
  padding-left: 0;
  margin: 0;
  background: #fff;
  font-size: 0; }
  #main-menu .nav-menu .nav-menu-item {
    font-size: 14px;
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 19px 0 16px 0;
    margin: 0 !important;
    background-color: #fff; }
    #main-menu .nav-menu .nav-menu-item a {
      border: transparent 1px solid;
      border-top: transparent 3px solid;
      border-bottom: none;
      padding: 13px 25px;
      margin: 0;
      color: #000;
      text-decoration: none; }
    #main-menu .nav-menu .nav-menu-item .visible-others {
      display: none; }
    #main-menu .nav-menu .nav-menu-item .visible-xs {
      display: inline; }
    #main-menu .nav-menu .nav-menu-item a:hover {
      border-top: #2196f3 3px solid; }
  #main-menu .nav-menu .nav-menu-item.active {
    z-index: 1000; }
    #main-menu .nav-menu .nav-menu-item.active a {
      border: #ddd 1px solid;
      border-top: #2196f3 3px solid;
      border-bottom: none; }
  #main-menu .nav-menu .nav-menu-item-direct-link:hover a {
    border-right: transparent 1px solid !important;
    border-left: transparent 1px solid !important; }

@media (min-width: 768px) {
  .nav-menu .nav-menu-item .visible-others {
    display: inline !important; }
  .nav-menu .nav-menu-item .visible-xs {
    display: none !important; }
  .nav-submenu-container {
    position: absolute;
    height: auto;
    left: 0;
    top: 49px;
    width: 100%;
    background: #fff;
    border: solid 1px #ddd;
    padding: 15px 10px 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
    .nav-submenu-container .submenu-col {
      border-right: #ddd 1px solid; }
    .nav-submenu-container .submenu-col:last-child {
      border-right: 0; }
    .nav-submenu-container .submenu-services-link-all {
      padding: 10px 20px; }
      .nav-submenu-container .submenu-services-link-all a {
        font-size: 1.1em;
        color: #2196f3; }
    .nav-submenu-container ul {
      float: left;
      padding: 0 5px 0 5px;
      margin-bottom: 0; }
      .nav-submenu-container ul .submenu-head {
        color: #2196f3;
        font-size: 1.4em; }
      .nav-submenu-container ul li {
        list-style-type: none;
        padding: 5px 0; }
        .nav-submenu-container ul li a {
          color: #000; }
  #submenu-articles.nav-submenu-container {
    left: 67px;
    width: 90%; } }

@media (min-width: 992px) {
  .nav-submenu-container {
    padding: 15px 10px 10px 10px; }
  #submenu-articles.nav-submenu-container {
    left: 340px;
    width: 65%; } }

@media (min-width: 1200px) {
  #submenu-articles.nav-submenu-container {
    left: 410px;
    width: 65%; } }

/*# sourceMappingURL=../../maps/1.base/mainmenu.css.map */
