@import url(mainmenu.css);
@import url(searchprojects.css);
@import url(optionsproject.css);
.navbar {
  background: #fff; }
  .navbar .navbar-brand {
    height: 30px;
    padding: 0;
    display: block;
    margin-top: 12px; }
    .navbar .navbar-brand img {
      width: 105px;
      height: 30px; }
    .navbar .navbar-brand #nav-top-right-container {
      margin-right: 0; }
  .navbar #top-search-form {
    padding-left: 0;
    padding-right: 0;
    border: 0; }
    .navbar #top-search-form #search-criteria, .navbar #top-search-form #search-where, .navbar #top-search-form .input-group-btn button {
      height: 39px; }
    .navbar #top-search-form #search-criteria {
      border-radius: 0; }
    .navbar #top-search-form #search-where {
      border-left: 0; }
    .navbar #top-search-form .input-group-btn button {
      border-radius: 0; }
      .navbar #top-search-form .input-group-btn button i {
        font-size: 1.4em;
        color: #999999; }
    .navbar #top-search-form .input-group-btn button#btn-search-small {
      background: #2196f3;
      border-color: #2196f3; }
      .navbar #top-search-form .input-group-btn button#btn-search-small i {
        color: #fff; }
  .navbar #top-search-form.collapse.in, .navbar #top-search-form.collapsing {
    border-top: 1px solid #ddd;
    padding-top: 10px; }
  .navbar #nav-top-right-container.collapse.in #nav-top-menu, .navbar #nav-top-right-container.collapsing #nav-top-menu {
    border-top: 1px solid #ddd; }
  .navbar #nav-top-right-container.collapse.in .list-business-button-container, .navbar #nav-top-right-container.collapsing .list-business-button-container {
    margin-top: 2px;
    padding-top: 10px;
    border-top: 1px solid #ddd; }
  .navbar .navbar-toggle-search, .navbar .navbar-toggle-menu {
    width: 44px;
    height: 34px;
    border-radius: 0; }
    .navbar .navbar-toggle-search span, .navbar .navbar-toggle-menu span {
      background-color: #000 !important; }
  .navbar .navbar-toggle-search {
    padding: 6px 10px; }
  .navbar .navbar-toggle-search:hover, .navbar .navbar-toggle-search:focus, .navbar .navbar-toggle-menu:hover, .navbar .navbar-toggle-menu:focus {
    border-color: #2196f3;
    background: #fff; }
    .navbar .navbar-toggle-search:hover i, .navbar .navbar-toggle-search:focus i, .navbar .navbar-toggle-menu:hover i, .navbar .navbar-toggle-menu:focus i {
      color: #2196f3; }
    .navbar .navbar-toggle-search:hover span, .navbar .navbar-toggle-search:focus span, .navbar .navbar-toggle-menu:hover span, .navbar .navbar-toggle-menu:focus span {
      background-color: #2196f3 !important; }
  .navbar #nav-top-right-container.collapsing, .navbar #nav-top-right-container.in {
    padding-bottom: 10px;
    border-top: 0;
    width: 100%; }
    .navbar #nav-top-right-container.collapsing .submenu-container, .navbar #nav-top-right-container.in .submenu-container {
      display: none; }
    .navbar #nav-top-right-container.collapsing .nav-menu-item, .navbar #nav-top-right-container.in .nav-menu-item {
      display: block;
      padding: 5px 0 5px 0; }
      .navbar #nav-top-right-container.collapsing .nav-menu-item a, .navbar #nav-top-right-container.in .nav-menu-item a {
        border: 0;
        padding: 0; }
      .navbar #nav-top-right-container.collapsing .nav-menu-item a:hover, .navbar #nav-top-right-container.in .nav-menu-item a:hover {
        text-decoration: underline; }
    .navbar #nav-top-right-container.collapsing .login-top-container, .navbar #nav-top-right-container.in .login-top-container {
      padding: 5px 0 5px 0; }
      .navbar #nav-top-right-container.collapsing .login-top-container a, .navbar #nav-top-right-container.in .login-top-container a {
        color: #000; }
  .navbar .negative-index {
    z-index: -1 !important; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    padding: 16px 0 0 0; }
    .navbar .navbar-header .navbar-brand {
      margin: 0 10px 0 0; }
      .navbar .navbar-header .navbar-brand img {
        width: 100px;
        margin-top: 3px;
        height: 31px; }
    .navbar .nav-top-container {
      height: 40px;
      padding: 0;
      margin-bottom: 16px; }
      .navbar .nav-top-container #brand-container, .navbar .nav-top-container #top-search-form, .navbar .nav-top-container #nav-top-menu, .navbar .nav-top-container #nav-top-right-container, .navbar .nav-top-container .login-top-container, .navbar .nav-top-container .list-business-button-container {
        display: inline-block; }
      .navbar .nav-top-container #brand-container {
        padding: 0 0 0 0; }
      .navbar .nav-top-container .login-top-container {
        padding: 10px 15px 8px 15px;
        margin-right: 20px; }
        .navbar .nav-top-container .login-top-container i {
          display: none !important; }
        .navbar .nav-top-container .login-top-container a span {
          color: #000; }
      .navbar .nav-top-container .login-top-container.authenticated i {
        display: inline-block !important;
        font-size: 1.3em;
        color: #2196f3; }
      .navbar .nav-top-container .login-top-container.authenticated span.caret {
        color: #2196f3; }
      .navbar .nav-top-container .login-top-container.authenticated a {
        text-decoration: none; }
      .navbar .nav-top-container .login-top-container.authenticated .user-menu i {
        display: inline-block !important;
        margin-right: 10px;
        font-size: 1em;
        color: #292c32; }
      .navbar .nav-top-container #main-menu .nav-menu .nav-menu-item {
        padding: 10px 0 10px 0 !important; }
        .navbar .nav-top-container #main-menu .nav-menu .nav-menu-item a {
          padding: 11px 8px; }
      .navbar .nav-top-container #main-menu .nav-submenu-container {
        top: 38px; }
      .navbar .nav-top-container #top-search-form.navbar-collapse.collapse {
        display: inline-block !important;
        margin: 0 auto; }
      .navbar .nav-top-container #top-search-form.navbar-collapse.collapse.hidden-in-big {
        display: none !important; }
      .navbar .nav-top-container #nav-top-menu, .navbar .nav-top-container .login-top-container, .navbar .nav-top-container .list-business-button-container {
        float: left; }
    .navbar #top-search-form #search-criteria, .navbar #top-search-form #search-where, .navbar #top-search-form .input-group-btn button {
      height: 41px; }
    .navbar #top-search-form #search-criteria {
      border-radius: 0;
      width: 280px; }
    .navbar #top-search-form #search-where {
      width: 80px;
      border-left: none; }
    .navbar #top-search-form .input-group-btn button {
      border-radius: 0; }
      .navbar #top-search-form .input-group-btn button i {
        font-size: 1.4em;
        color: #999999; }
    .navbar #top-search-form .input-group-btn button#btn-search-small {
      background: #2196f3;
      border-color: #2196f3; }
      .navbar #top-search-form .input-group-btn button#btn-search-small i {
        color: #fff; }
  .nav-bottom-container {
    display: block;
    position: relative; }
    .nav-bottom-container .nav-bottom-center {
      display: inline-block;
      margin: 0 auto;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      display: -webkit-box;
      /*.login-container{            
            padding: 3px 0 0 0;
            margin-left: 20px;
            a{            
                color: $nav-text-color;
                text-decoration: none;
            }
           
             i{
                display: inline-block!important;
                font-size: 1.3em;   
                margin-right: 3px;
                 color: $nav-text-color;         
            }          
            .user-menu{
                i{
                    display: inline-block!important;
                    margin-right: 10px;
                    font-size: 1em;
                }
            }
        }*/ }
      .nav-bottom-container .nav-bottom-center #nav-bottom-menu {
        margin: 0 auto; }
        .nav-bottom-container .nav-bottom-center #nav-bottom-menu .nav-menu-item a {
          padding: 13px 40px; }
    .nav-bottom-container .nav-bottom-menu li.active a {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar .navbar-header .navbar-brand {
    margin: 0; }
    .navbar .navbar-header .navbar-brand img {
      width: 170px;
      height: 42px; }
  .navbar .nav-top-container {
    position: relative; }
    .navbar .nav-top-container #top-search-form #search-criteria {
      width: 360px; }
    .navbar .nav-top-container #top-search-form #search-where {
      width: 120px; }
    .navbar .nav-top-container .navbar-header {
      margin-right: 20px; }
    .navbar .nav-top-container .login-top-container {
      margin-right: 10px; }
    .navbar .nav-top-container #main-menu .nav-menu .nav-menu-item a {
      padding: 11px 15px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav-top-container .navbar-header .navbar-brand {
    margin-top: 0; }
    .nav-top-container .navbar-header .navbar-brand img {
      width: 170px;
      height: 43px; }
  #top-search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); } }

/*# sourceMappingURL=../../maps/1.base/navprojects.css.map */
