.login-dropdown
{
    .user-menu{
        border-radius: 0;
        .badge{
            margin-left: 6px;
            color: #fff!important;
        }
    }
    .authenticated{
        display: block!important;
    }
    
}