@import "home.scss";
@media (min-width: 1200px) {
    $section-padding-top:50px;
    $back-image-section-height: 435px;
 
    #search-section
{
    min-height: 230px;
    .carousel-inner{
        .item {
            img{
                height: auto;
                margin:auto;
            }
        }
    }
    $section-max-height:585px;   
    margin-top:$section-padding-top;   
    width: 100%;
    max-height:$section-max-height;
    overflow: hidden;
    img{
        width: 100%!important;
    }
    .elements-background{
        z-index: 1000;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $back-transparent-color!important;
        .search-grap{       
            display: block;
            text-align: center;
            width: 100%;
            height: 180px;
            position: absolute !important;
            margin: auto !important;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            .title{
                text-align: center;
                color: #fff;                
                margin: 10px 0 15px 0;                
            }
            .home-form-grap{
                display: inline-block; 
                $input-height: 39px;                
                .form-inline{
                    .form-group:last-child{
                        margin-bottom: 0;
                    }
                    padding: 12px 13px;                    
                    background: $back-home-form-color;
                    .search-criteria{            
                        width: 100%;
                        height: $input-height;
                        border-radius: 0!important;
                    }
                    .search-where{
                        width: 100%;
                        height: $input-height;
                    }
                    .input-group-btn button {
                        height: $input-height;

                       i {
                        font-size: 1.5em;
                        }
                    }
                }
                 
        }
    }
    
    }
   
}
}