footer
    div(class="footer-top")
        div(class="container")
            div(class="row")
                div(class="col-xs-12 col-sm-3 col-md-3")
                    h3(class="footer-top-title") Professionals by city
                    ul
                        li
                            a(href="") Miami, FL
                        li 
                            a(href="") Hialeah, FL                   
                        li 
                            a(href="") Fort Lauderdale, FL                    
                        li 
                            a(href="") Hollywood, FL                    
                        li 
                            a(href="") Miami Beach, FL                    
                        li
                            a(href="") Opa Locka, FL                    
                        li 
                            a(class="btn btn-link view-more" href="") View more                    
                div(class="col-xs-12 col-sm-3 col-md-3")
                    h3(class="footer-top-title") Popular Categories
                    ul
                        li
                            a(href="") Air Conditioning
                        li 
                            a(href="") Cabinetry                  
                        li 
                            a(href="") Fort Lauderdale, FL                    
                        li 
                            a(href="") Electricity                
                        li 
                            a(href="") Handyman Services                 
                        li
                            a(href="") Home Appliances               
                        li 
                            a(href="") Hurricane Home Protection
                div(class="col-xs-12 col-sm-3 col-md-3")
                    h3(class="footer-top-title") For Pros Services
                    ul
                        li
                            a(href="") Log in
                        li 
                            a(href="") Claim Pros
                div(class="col-xs-12 col-sm-3 col-md-3")
                    h3(class="footer-top-title") About casafix
                    ul
                        li
                            a(href="") Contact Us / Customer Service
                        li 
                            a(href="") How it Works for Home Owners
                        li
                            a(href="") How it Works for Pros
                        li 
                            a(href="") Help and FAQs
                        li
                            a(href="") About the Company  
    div(class="footer-down")
        div(class="container")
            div(class="row")
                div(class="col-xs-12 col-sm-6 col-md-4")
                    h3(class="footer-down-title") We can help you find a Pro
                div(class="col-xs-12 col-sm-6 col-md-4 phone-link")
                    a( href="tel:+18002774790") +1 (800) 277-4790
                div(class="col-xs-12 col-sm-12 col-md-4 social-links")
                    a(class="social-cf" href="" target="_blank")
                        i(class="fa fa-2x fa-facebook")
                    a(class="social-cf" href="" target="_blank")
                        i(class="fa fa-2x fa-pinterest")
                    a(class="social-cf" href="" target="_blank")
                        i(class="fa fa-2x fa-twitter")
                    a(class="social-cf" href="" target="_blank")
                        i(class="fa fa-2x fa-google-plus")
                    a(class="social-cf" href="" target="_blank")
                        i(class="fa fa-2x fa-youtube")
            div(class="row")
                div(class="col-xs-12 casafix-right")
                    p 2016 www.casafix.com&nbsp;©&nbsp;All Rights Reserved.
                        a(href="") Privacy Policy
                            i |
                        a(href="") Terms of Service
                            i |
                        a(href="") Refund Policy