div(class="dropdown login-dropdown visible-sm visible-md visible-lg hidden-xs")
    a(href="#" class="dropdown-toggle" id="drop-user-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
        i(class="fa fa-user")
        span
        span(class="caret")
    ul(class="dropdown-menu user-menu"  aria-labelledby="drop-user-menu")
        li
            a
                b Hello User
        li
            a(href="#")
                i(class="fa fa-pencil" aria-hidden="true")
                |lblProfile
        li(role="separator" class="divider")
        li
            a(href="#")           
                i(class="fa fa-suitcase" aria-hidden="true")
                |lblProjects
        li
            a(href="#")
                i(class="fa fa-eye" aria-hidden="true")
                |lblWatching lblProjects
        li(role="separator" class="divider")
        li
            a(href="#")
                i(class="fa fa-comment" aria-hidden="true")
                |lblClassifiedMessages
                span(class="badge") 4
        li
            a(href="#")
                i(class="fa fa-sign-out" aria-hidden="true")
                |lblLogout
ul(class="user-menu-xs visible-xs hidden-sm hidden-md hidden-lg" )
        li
            a
                b Hello User
        li
            a(href="#")
                i(class="fa fa-pencil" aria-hidden="true")
                |lblProfile       
        li
            a(href="#")           
                i(class="fa fa-suitcase" aria-hidden="true")
                |lblProjects
        li
            a(href="#")
                i(class="fa fa-eye" aria-hidden="true")
                |lblWatching lblProjects        
        li
            a(href="#")
                i(class="fa fa-comment" aria-hidden="true")
                |lblClassifiedMessages
                span(class="badge") 4
        li
            a(href="#")
                i(class="fa fa-sign-out" aria-hidden="true")
                |lblLogout