div#main-menu
    div(class="mobile-nav-menu panel-group visible-xs hidden-md hidden-sm hidden-lg" role="tablist" id="mobile-nav-menu" aria-multiselectable="true")        
        div(class="panel")
            div(class="panel-heading" role="tab" id="heading-mobile-menu-find-pros")                
                a(class="collapsed" role="button" data-toggle="collapse" data-parent="#mobile-nav-menu" href="#mobile-menu-find-pros" aria-expanded="false" aria-controls="mobile-menu-find-pros") 
                    |Find Lawyers
                    span(class="open-or-close-icon pull-right glyphicon glyphicon-plus")
            div( id="mobile-menu-find-pros" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mobile-menu-find-pros" )
                div(class="panel-body")
                    ul
                        li
                            a(href="#") Miami
                        li 
                            a(href="#") Fort Lauderdale
                        li 
                            a(href="#") Jacksonville
                        li 
                            a(href="#") Tampa
                        li 
                            a(href="#") Orlando                        
                        li
                            a(href="#") Hollywood
                        li
                            a(href="#") Hialeah
                        li 
                            a(href="#") West Palm Beach
        div(class="panel")
            div(class="panel-heading" role="tab" id="heading-mobile-menu-services")                
                a(class="collapsed" role="button" data-toggle="collapse" data-parent="#mobile-nav-menu" href="#mobile-menu-services" aria-expanded="false" aria-controls="mobile-menu-services")
                    |Practice Areas
                    span(class="open-or-close-icon pull-right glyphicon glyphicon-plus")
            div( id="mobile-menu-services" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mobile-menu-services")
                div(class="panel-body")
                    ul
                        li
                            a(href="#") Mesothelioma and asbestos
                        li 
                            a(href="#") Medical malpractice
                        li 
                            a(href="#") Libel and slander
                        li 
                            a(href="#") Defective and dangerous products
                        li 
                            a(href="#") Car accident
                        li 
                            a(href="#") Brain injury
                        li 
                            a(href="#") Birth injury
                        li 
                            a(href="#") Animal and dog bites
        div(class="panel")
            div(class="panel-heading" role="tab" id="heading-mobile-menu-articles")                
                a(class="collapsed" role="button" data-toggle="collapse" data-parent="#mobile-nav-menu" href="#mobile-menu-articles" aria-expanded="false" aria-controls="mobile-menu-articles")
                    |Articles
                    span(class="open-or-close-icon pull-right glyphicon glyphicon-plus")
            div( id="mobile-menu-articles" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mobile-menu-articles")
                div(class="panel-body")
                    ul
                        li
                            a(href="#") Mesothelioma article
                        li 
                            a(href="#") Medical malpractice article
                        li 
                            a(href="#") Defective and dangerous products article
                        li 
                            a(href="#") Car accident article
                        li 
                            a(href="#") Brain injury article
                        li 
                            a(href="#") Birth injury article
                        li 
                            a(href="#") Animal and dog bites article
        
    ul(class="nav-menu hidden-xs visible-sm visible-md visible-lg")
        li(class="nav-menu-item" id="menu-find-pros")
            a(href="#" data-submenu-href="#submenu-find-pros") Find Lawyers
        li(class="nav-menu-item" id="menu-services")
            a(href="#" data-submenu-href="#submenu-services") Practice Areas       
        li(class="nav-menu-item nav-menu-item-direct-link" id="menu-articles")
            a(href="#" data-submenu-href="#submenu-articles") Articles
    div(class="submenu-container")
        div(id="submenu-find-pros" data-menu-href="#menu-find-pros" class="nav-submenu-container hidden")
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")
                ul(class="top-menu-section")
                    li
                        a(href="#") Miami
                    li 
                        a(href="#") Fort Lauderdale
                    li 
                        a(href="#") Jacksonville
                    li 
                        a(href="#") Tampa
                    li 
                        a(href="#") Orlando                        
                    li
                        a(href="#") Hollywood
                    li
                        a(href="#") Hialeah
                    li 
                        a(href="#") West Palm Beach            
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")
                ul(class="top-menu-section")
                    li
                        a(href="#") Miami
                    li 
                        a(href="#") Fort Lauderdale
                    li 
                        a(href="#") Jacksonville
                    li 
                        a(href="#") Tampa
                    li 
                        a(href="#") Orlando                      
        div(id="submenu-services" data-menu-href="#menu-services" class="nav-submenu-container hidden")
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")   
                ul(class="top-menu-section")
                    li
                        a(href="#") Mesothelioma and asbestos
                    li 
                        a(href="#") Medical malpractice
                    li 
                        a(href="#") Libel and slander
                    li 
                        a(href="#") Defective and dangerous products
                    li 
                        a(href="#") Car accident
                                
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")  
                ul(class="top-menu-section")
                    li
                        a(href="#") Mesothelioma and asbestos
                    li 
                        a(href="#") Medical malpractice
                    li 
                        a(href="#") Libel and slander
                    li 
                        a(href="#") Defective and dangerous products
                    li 
                        a(href="#") Car accident  
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")  
                ul(class="top-menu-section")
                    li
                        a(href="#") Mesothelioma and asbestos
                    li 
                        a(href="#") Medical malpractice
                    li 
                        a(href="#") Libel and slander
                    li 
                        a(href="#") Defective and dangerous products
                    li 
                        a(href="#") Car accident
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")  
                ul(class="top-menu-section")
                    li
                        a(href="#") Mesothelioma and asbestos
                    li 
                        a(href="#") Medical malpractice
                    li 
                        a(href="#") Libel and slander
                    li 
                        a(href="#") Defective and dangerous products
                    li 
                        a(href="#") Car accident      
        div(id="submenu-articles" data-menu-href="#menu-articles" class="nav-submenu-container hidden")
            div(class="col-sm-6 col-md-6 col-lg-6 submenu-col")
                ul(class="top-menu-section")
                    li
                        a(href="#") Mesothelioma article
                    li 
                        a(href="#") Medical malpractice article                  
                    li 
                        a(href="#") Medical malpractice article        
                    li 
                        a(href="#") Car accident article
                    li 
                        a(href="#") Brain injury article
                    li 
                        a(href="#") Birth injury article
                    li 
                        a(href="#") Animal and dog bites article
            div(class="col-sm-6 col-md-6 col-lg-6 submenu-col")
                ul(class="top-menu-section")
                    li
                        a(href="#") Mesothelioma article                                
                    li 
                        a(href="#") Defective and dangerous products article
                    li 
                        a(href="#") Car accident article
                    li 
                        a(href="#") Brain injury article
                    li 
                        a(href="#") Birth injury article
                    li 
                        a(href="#") Animal and dog bites article

