div#main-menu
    div(class="mobile-nav-menu panel-group visible-xs hidden-md hidden-sm hidden-lg" role="tablist" id="mobile-nav-menu" aria-multiselectable="true")        
        div(class="panel")
            div(class="panel-heading" role="tab" id="heading-mobile-menu-find-pros")                
                a(class="collapsed" role="button" data-toggle="collapse" data-parent="#mobile-nav-menu" href="#mobile-menu-find-pros" aria-expanded="false" aria-controls="mobile-menu-find-pros") 
                    |Find Professionals
                    span(class="open-or-close-icon pull-right glyphicon glyphicon-plus")
            div( id="mobile-menu-find-pros" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mobile-menu-find-pros" )
                div(class="panel-body")
                    ul
                        li
                            a(href="#") Air Conditioning
                        li 
                            a(href="#") Audio, Video and Computers
                        li 
                            a(href="#") Awnings
                        li 
                            a(href="#") Cabinetry
                        li 
                            a(href="#") Carpentry
                        li
                            a(href="#") Cleaning Service
                        li
                            a(href="#") Concrete
                        li 
                            a(href="#") Decoration and Design            
        div(class="panel")
            div(class="panel-heading" role="tab" id="heading-mobile-menu-services")                
                a(class="collapsed" role="button" data-toggle="collapse" data-parent="#mobile-nav-menu" href="#mobile-menu-services" aria-expanded="false" aria-controls="mobile-menu-services")
                    |Services
                    span(class="open-or-close-icon pull-right glyphicon glyphicon-plus")
            div( id="mobile-menu-services" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mobile-menu-services")
                div(class="panel-body")
                    ul
                        li
                            a(href="#") Air Conditioning
                        li 
                            a(href="#") Audio, Video and Computers
                        li 
                            a(href="#") Awnings
                        li 
                            a(href="#") Cabinetry
                        li 
                            a(href="#") Carpentry
                        li 
                            a(href="#") Cleaning Service
                        li 
                            a(href="#") Concrete
                        li 
                            a(href="#") Decoration and Design       
        div(class="panel")
            div(class="panel-heading" role="tab" id="heading-mobile-menu-articles")                
                a(class="collapsed" role="button" data-toggle="collapse" data-parent="#mobile-nav-menu" href="#mobile-menu-articles" aria-expanded="false" aria-controls="mobile-menu-articles")
                    |Articles
                    span(class="open-or-close-icon pull-right glyphicon glyphicon-plus")
            div( id="mobile-menu-articles" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-mobile-menu-articles")
                div(class="panel-body")
                    ul
                        li
                            a(href="#") Air Conditioning
                        li 
                            a(href="#") Audio, Video and Computers
                        li 
                            a(href="#") Awnings
                        li 
                            a(href="#") Cabinetry
                        li 
                            a(href="#") Carpentry
                        li 
                            a(href="#") Cleaning Service
                        li 
                            a(href="#") Concrete
                        li 
                            a(href="#") Decoration and Design
        div(class="panel")
            div(class="panel-heading")
                a(href="#" data-submenu-href="#submenu-projects") Projects  
    ul(class="nav-menu hidden-xs visible-sm visible-md visible-lg")
        li(class="nav-menu-item" id="menu-find-pros")
            a(href="#" data-submenu-href="#submenu-find-pros") Find Professionals            
        li(class="nav-menu-item" id="menu-services")
            a(href="#" data-submenu-href="#submenu-services") Services            
        li(class="nav-menu-item nav-menu-item-direct-link" id="menu-projects")
            a(href="#" data-submenu-href="#submenu-projects") Projects
        li(class="nav-menu-item nav-menu-item-direct-link" id="menu-articles")
            a(href="#" data-submenu-href="#submenu-articles") Articles
    div(class="submenu-container")
        div(id="submenu-find-pros" data-menu-href="#menu-find-pros" class="nav-submenu-container hidden")
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")
                ul(class="top-menu-section")
                    li 
                        a(href="#") Air Conditioning
                    li 
                        a(href="#") Audio, Video and Computers
                    li 
                        a(href="#") Awnings
                    li 
                        a(href="#") Cabinetry
                    li 
                        a(href="#") Carpentry
                    li 
                        a(href="#") Cleaning Service
                    li 
                        a(href="#") Concrete
                    li 
                        a(href="#") Decoration and Design
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")
                ul(class="top-menu-section")
                    li 
                        a(href="#") Air Conditioning
                    li 
                        a(href="#") Audio, Video and Computers
                    li 
                        a(href="#") Awnings
                    li 
                        a(href="#") Cabinetry
                    li 
                        a(href="#") Carpentry
                    li 
                        a(href="#") Cleaning Service
                    li 
                        a(href="#") Concrete
                    li 
                        a(href="#") Decoration and Design                               
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")
                ul(class="top-menu-section")
                    li 
                        a(href="#") Air Conditioning
                    li 
                        a(href="#") Audio, Video and Computers
                    li 
                        a(href="#") Awnings
                    li 
                        a(href="#") Cabinetry
                    li 
                        a(href="#") Carpentry
                    li 
                        a(href="#") Electricity
                    li 
                        a(href="#") Fences, Bars, Welding
                    li 
                        a(href="#") Floor and Carpet
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")
                ul(class="top-menu-section")
                    li 
                        a(href="#") Air Conditioning
                    li 
                        a(href="#") Audio, Video and Computers
                    li 
                        a(href="#") Awnings
                    li 
                        a(href="#") Cabinetry
                    li 
                        a(href="#") Carpentry                   
        div(id="submenu-services" data-menu-href="#menu-services" class="nav-submenu-container hidden")
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")   
                ul(class="top-menu-section")
                    li 
                        a(href="#") Air Conditioning
                    li 
                        a(href="#") Audio, Video and Computers
                    li 
                        a(href="#") Awnings
                    li 
                        a(href="#") Cabinetry
                    li 
                        a(href="#") Carpentry                   
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")  
                ul(class="top-menu-section")
                    li 
                        a(href="#") Air Conditioning
                    li 
                        a(href="#") Audio, Video and Computers
                    li 
                        a(href="#") Awnings
                    li 
                        a(href="#") Cabinetry
                    li 
                        a(href="#") Carpentry                   
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")  
                ul(class="top-menu-section")
                    li 
                        a(href="#") Air Conditioning
                    li 
                        a(href="#") Audio, Video and Computers
                    li 
                        a(href="#") Awnings
                    li 
                        a(href="#") Cabinetry
                    li 
                        a(href="#") Carpentry
            div(class="col-sm-3 col-md-3 col-lg-3 submenu-col")  
                ul
                    li 
                        a(href="#") Cleaning Service
                    li 
                        a(href="#") Concrete
                    li 
                        a(href="#") Decoration and Design
                    li 
                        a(href="#") Doors and Windows
                    li 
                        a(href="#") Electricity             
        div(id="submenu-projects" data-menu-href="#menu-projects" class="nav-submenu-container hidden")
            ul(class="top-menu-section")
                li 
                    a(href="#") Air Conditioning
                li 
                    a(href="#") Audio, Video and Computers
                li 
                    a(href="#") Awnings
                li 
                    a(href="#") Cabinetry
                li 
                    a(href="#") Carpentry
        div(id="submenu-articles" data-menu-href="#menu-articles" class="nav-submenu-container hidden")
            ul(class="top-menu-section")
                li 
                    span(class="submenu-head") Air Conditioning
                li 
                    a(href="#") Air Conditioning
                li 
                    a(href="#") Audio, Video and Computers
                li 
                    a(href="#") Awnings
                li 
                    a(href="#") Cabinetry
                li 
                    a(href="#") Carpentry
            ul(class="top-menu-section")
                li 
                    span(class="submenu-head") Air Conditioning
                li 
                    a(href="#") Air Conditioning
                li 
                    a(href="#") Audio, Video and Computers
                li 
                    a(href="#") Awnings
                li 
                    a(href="#") Cabinetry
                li 
                    a(href="#") Carpentry

