
nav(class="navbar navbar-default navbar-fixed-top navbar-menu-down" id="base-navbar")
    div(class="container")
        div(class="nav-top-container")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle navbar-toggle-menu  collapsed" data-toggle="collapse" data-target="#nav-top-right-container" aria-expanded="false")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                button(type="button" class="navbar-toggle navbar-toggle-search collapsed" data-toggle="collapse" data-target="#top-search-form" aria-expanded="false")
                    span(class="sr-only") Toggle Search Business Form 
                    i(class="fa fa-search")
                div(id="brand-container" class="")
                    a(class="navbar-brand" href="#")
                        img(class=" img-lg visible-lg hidden-md hidden-sm hidden-xs" src="/Content/template/images/logos/casafix_lg.png" alt="Pro Working")
                        img(class="img-sm visible-xs visible-sm visible-md hidden-lg" src="/Content/template/images/logos/casafix.png" alt="Pro Working")                        
            div(class="collapse navbar-collapse hidden-in-big" id="top-search-form")
                include searchprojects
            div(class="collapse navbar-collapse pull-right" id="nav-top-right-container")
                //@if (User.Identity.IsAuthenticated)
                //{
                div(class="user-authenticated-options")
                    include optionsproject
                //}            
                div(class="list-business-button-container")
                    a(id="btn-search-small" href="/project/new" class="btn btn-primary navbar-buttom btn-sm") Post a Project
        div(class="nav-bottom-container hidden")
            div(class="nav-bottom-center")
                div(class="collapse navbar-collapse" id="nav-bottom-menu")
                    include mainmenu