nav(class="navbar navbar-default navbar-fixed-top" id="base-navbar")
    div(class="container")
        div(class="nav-top-container")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle navbar-toggle-menu  collapsed" data-toggle="collapse" data-target="#nav-top-right-container" aria-expanded="false")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")               
                div(id="brand-container" class="")
                    a(class="navbar-brand" href="#")
                        span Lawyers Logo
            div(class="collapse navbar-collapse pull-right" id="nav-top-right-container")
                div(class="" id="nav-top-menu")
                    include mainmenu
                div(class="login-top-container authenticated")
                    include loginauthenticated
                div(class="list-business-button-container")
                    button(class="btn btn-primary btn-sm" id="btn-search-small" type="button") Claim Your Profile
        
               