nav(class="navbar navbar-default navbar-fixed-top" id="base-navbar")
    div(class="container")
        div(class="nav-top-container")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle navbar-toggle-menu  collapsed" data-toggle="collapse" data-target="#nav-top-right-container" aria-expanded="false")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                button(type="button" class="navbar-toggle navbar-toggle-search collapsed" data-toggle="collapse" data-target="#top-search-form" aria-expanded="false")
                    span(class="sr-only") Toggle Search Business Form 
                    i(class="fa fa-search")
                div(id="brand-container" class="")
                    a(class="navbar-brand" href="#")
                        img(class=" img-lg visible-lg hidden-md hidden-sm hidden-xs" src="/Content/template/images/logos/casafix_lg.png" alt="Pro Working")
                        img(class="img-sm visible-xs visible-sm visible-md hidden-lg" src="/Content/template/images/logos/casafix.png" alt="Pro Working")
            div(class="collapse navbar-collapse pull-right" id="nav-top-right-container")
                div(class="" id="nav-top-menu")
                    include mainmenu
                div(class="login-top-container authenticated")
                    include loginauthenticated
                div(class="list-business-button-container")
                    button(class="btn btn-primary btn-sm" id="btn-search-small" type="button") List your business
        
               