form(class="form-inline")
    div(class="form-group")
        label(class="sr-only" for="search-criteria")
        input(type="text" name="search" class="form-control search-criteria" placeholder="Search business, services, or keywords")
    div(class="form-group")
        div(class="input-group")            
            span(class="input-group-btn")
                button(class="btn btn-default" type="button" onclick="populateLocation()")
                    i(class="fa fa-map-marker")            
            input(type="text" name="where" class="form-control search-where" placeholder="ZipCode")
            span(class="input-group-btn")
                button(class="btn btn-default btn-search-style btn-search-small" type="submit")
                    i(class="fa fa-search")